@{
    ViewBag.Title = "Home Page";
}
@model  Html5_Validations.Models.UserProfileModel



<div class="jumbotron">
    <h1>Html 5 Data Validations</h1>
    <p class="lead">Validate mvc form using html 5 data vaidations</p>

</div>



@using (Html.BeginForm("Index", "Home", FormMethod.Post,new{id="form1"}))
{

    <div class="form-group">

        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "User Name", @required = "true", maxlength = "100", type = "text" })
        </div>
    </div>
    <div class="form-group">

        @Html.LabelFor(m => m.FullName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FullName, new { @class = "form-control", @required = "true", type = "text", @placeholder = "Full Name"})
        </div>
    </div>

    <div class="form-group">

        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @required = "true", type = "email", @placeholder = "Email" })
        </div>
    </div>

    <div class="form-group">

        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", type = "password", pattern = ".{6,32}", required = "true", title = "Password must be of 6 to 32 characters" })
        </div>
    </div>

    <div class="form-group">

        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password", type = "password", pattern = ".{6,32}", required = "true", title = "Password must be of 6 to 32 characters", @onfocus = "validatePass(document.getElementById('Password'), this);", oninput = "validatePass(document.getElementById('Password'), this);" })
        </div>
    </div>

    <div class="form-group">

        @Html.LabelFor(m => m.Phone, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", @placeholder = "Phone Number", @required = "true", type = "tel", pattern = @"\d\d\d \d\d\d \d\d\d\d\d\d", size = "10", maxlength = "50", title = "Enter your Phone number in format 'xxx xxx xxxxxx" })
        </div>
    </div>

    <div class="form-group">

        @Html.LabelFor(m => m.Website, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Website, new { @class = "form-control", @placeholder = "Website URL", @required = "true", type = "url", size = 10, maxlength = 128 })
        </div>
    </div>

    <div class="form-group">

        @Html.LabelFor(m => m.MaritalStatus, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.MaritalStatus, new List<SelectListItem>() { new SelectListItem() { Text = "married", Value = "0" }, new SelectListItem() { Text = "ummarried", Value = "1" }},"--select--",new { @required = true, style = "width: 100%;margin-top: 10px", @class = "form-control" })
        </div>
    </div>

    <div class="form-group">

        @Html.LabelFor(m => m.Message, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Message, new { @class = "form-control", @required = "true", type = "text", })

        </div>

    </div>

    <div class="form-group">

        @Html.LabelFor(m => m.Agreement, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.CheckBoxFor(m => m.Agreement, new { @class = "form-control", @required = "true" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" style="margin-top: 10px;margin-bottom: 40px" value="Register" />
        </div>
    </div>

}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script>

    $("#form1").submit(function () {
        alert("Form has been validated successfully");
    });
    function validatePass(p1, p2) {



        if (p1.value == '' || p2.value == '') {
            p2.setCustomValidity('Please fill out this field.');
        }
        else if (p1.value != p2.value) {
            p2.setCustomValidity('Passwords do not match');
        }
        else {
            p2.setCustomValidity('');
        }
    }

</script>